
.color-icons {
    display: grid;
    grid-template-rows: 180px 180px;
    grid-template-columns: 185px 185px;
    grid-gap: 50px;
    position: relative;
    margin-bottom: 40px;
    margin-left: 40%;

}

.hidden {
    display: none;
  }

.container {
    display: grid;
    grid-template-rows: 180px 180px;
    grid-template-columns: 185px 185px;
    grid-gap: 50px;
    position: relative;
    margin-top: 175px;
    margin-left: 40%;

}

#color0 {
    background-color: red;
    
}

#color0:active, #color0.light {
    background:#FFCCCB;
}

#color1 {
    background: blue;
}

#color1:active, #color1.light {
    background: lightblue;
}


#color2 {
    background: green;
}

#color2:active, #color2.light {
    background: lightgreen;
}


#color3 {
    background: #8B8000;
}

#color3:active, #color3.light {
    background: yellow;
}

